@charset "utf-8";
/* CSS Document */
@import url('normalize.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --global-top-header-bgcolor: #ef7418;
    --global-default-bgcolor: #ffffff;
    --global-primary-btn-bgcolor: #973693;
    --global-secondary-btn-bgcolor: #973693;
    --global-title-color: #37517e;
    --global-text-color: #474748;
    --global-default-color: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}

ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; }

a:hover { color: var(--global-top-header-bgcolor); }

.btn:focus { outline: none; box-shadow: none; }

.form-control:focus {
   box-shadow: none;
   border: 1px solid #0076b3;
}

img {
    max-width: 100%;
    border-style: none;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: normal;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--global-text-color);
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #EE2925;
    position: relative;

}

h2:before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 50px;
  height: 2px;
  background: #000000;
  transform:translateX(-25px) /*    width/2    */
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
}

h4 {
    font-size: 1.75rem;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

h6 {
    font-size: 1.25rem;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    color: var(--global-text-color);
    padding-bottom: 2rem;
    line-height: 26px;
}

p:last-child {
    padding-bottom: 0;
}

section {
    padding: 50px 0;
    overflow: hidden;
}

.primary-btn {
  background-color: #ED1C24;
  padding: 1rem 4rem;
  border: 2px solid #ED1C24;
  color: #ffffff;
  font-size: 1.5rem;
}

.outline-btn {
  border: 2px solid var(--global-top-header-bgcolor);
  color: var(--global-top-header-bgcolor);
}

.primary-btn:hover {
  background-color: var(--global-default-color);
  color: var(--global-text-color);
}

.secondary-btn {
  background-color: #ED1C24;
  padding: 1rem 4rem;
  border: 2px solid#ED1C24;
  color: var(--global-default-color);
  font-size: 1.5rem;
  border-radius: 50px;
}

.secondary-btn:hover {
    background-color: var(--global-default-color);
    
}

.separated {
    overflow: hidden;
}

.separated > * {
    -webkit-box-shadow: -1px -1px 0px 0px #e5e5e5;
    -moz-box-shadow: -1px -1px 0px 0px #e5e5e5;
    box-shadow: -1px -1px 0px 0px #e5e5e5;
}

.boxed {
    border-radius: 0.25rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
    background-color: #fff;
}

.separated > *:not(:last-child) {
    margin-bottom: 0 !important;
}


.top-header {
    background-color: #333332;  
    padding: 10px 0;
}

@media screen and (max-width: 767px) {
    .top-header {
        padding: 0;
    }
}

.header-contact ul li {
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
}

.header-contact ul li i {
    margin-right: 8px;
}

.header-contact ul li,
.header-contact ul li a {
    color: #f8f8f8;
}

.header-icons {
    text-align: right;
}

.header-icons .social-profile ul li {
    margin: 0 8px;
    display: inline-block;
}

.header-icons .social-profile ul li:last-child {
    margin: 0 0 0 8px;
}

.header-icons .social-profile ul li a,
.header-icons .social-profile ul li i {
    color: #f8f8f8;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background-color: var(--global-default-bgcolor);
}

.fixed-top {
    top: 4rem;
}

@media (max-width: 767px) {
    .fixed-top {
        top: 0;
    }  
}
  
#header.header-scrolled, 
#header.header-inner-pages {
    background-color: #ffffff;
    top: 0;
}
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #header .logo img {
    max-height: 80px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333232;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i {
    font-size: 14px;
    line-height: 0;
    margin-right: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: #ED1C24;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 15px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #F2F2F2;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 160px;
    border-bottom: 1px dotted #333332;
  }

  .navbar .dropdown ul li:last-child {
      border-bottom: transparent;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: bold;
    color: #333332;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #ED1C24;
  }

  .navbar .dropdown a span {
      padding-right: 0.5rem;
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 60px;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: var(--global-top-header-bgcolor);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    transition: 0.3s;
    z-index: 999;
  }

  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 3rem;
    right: 2rem;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 5.5rem;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--global-text-color);
  }
  
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: var(--global-top-header-bgcolor);
  }

  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: var(--global-top-header-bgcolor);
  }
  
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }

  .static-slider10 {
    font-weight: 300;
    padding: 10% 0;
    background-size: cover;
    background-position: center center;
    margin-top: 2rem;
  }
  .static-slider10 .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
  }
  
  .static-slider10 .subtitle {
      line-height: 24px;
  }
  
  @media (max-width: 900px) {
    .static-slider10 .title {
      font-size: 40px;
      line-height: 45px;
    }
  }
  
  .static-slider10 .btn-md {
      padding: 15px 45px;
      font-size: 16px;
  }
  
  .static-slider10 .badge {
    line-height: 21px;
  }
  
  .static-slider10 .badge-inverse {
    background: #3e4555;
  }
  
  .static-slider10 .op-8 {
    opacity: 0.8;
  }

  .why-bg {
    background-image: url('../img/why-bg.jpg');
  } 
  
  .why-bg h2 {
    color: #ffffff;
  }

  .why-bg h2::before {
    background: #ffffff;
  }

  .why-bg .why-card {
     padding: 2rem;
     border-right: 1px solid #ffffff;
  }

  .why-bg .no-border{
    border-right: none;
  }

   .why-bg .why-card .why-text h5, 
   .why-bg .why-card .why-text p {
    color: #ffffff;
  }

  .products {
    background-color: #ffffff;
  } 
  
  .products h2 {
    color: #EE2925;
  }

  .products .product-card {
     padding: 2rem;
  }

   .products .product-card .product-text h5 {
    color: #010101;
  }

  .certify {
    background-color: #E5E3E4;
  } 
  
  .certify h2 {
    color: #EE2925;
  }

  .certify .certify-card {
     padding: 2rem;
  }
  
  .clients {
    background-color: #C93333;
    display: none;
  } 

  .clients .cclient-card {
     padding: 2rem;
  }
  
    
  .testimonials {
      background-color: #ffffff;
      display: none;
  }  

  .testimonials .profile-img img {
      width: 120px;
      height: 120px;
      border: 2px solid #C93333;
  }

  .testimonials .profile-name {
    text-align: left;
    padding: 0 1rem;
  }

  .testimonials .profile-name h5, 
  .testimonials .profile-name h6 {
    color: #333332;
  }

  .testimonials .testimonials-text {
    line-height: 32px;
    color: #ffffff;
    background-color: #C93333;
    padding: 1rem;
    font-style: italic;
  }

  .testimonials .testimonials-text .left-quote {
    padding-right: 1rem;
  }

  .testimonials .testimonials-text .right-quote {
    padding-left: 1rem;
}

.get-in-touch {
  background-color: #ffffff;
}

.get-in-touch h4,
.get-in-touch h5 {
  color: #C93333;
  font-weight: bold;
}

/* CONTACT FORM FOR ALL PAGE */

.contact-email-form {
  width: 100%;
  border-top: 3px solid #ed3c0d;
  border-bottom: 3px solid #ed3c0d;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact-email-form .form-group {
  padding-bottom: 8px;
}

.contact-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact-email-form .error-message br + br {
  margin-top: 25px;
}

.contact-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact-email-form .form-group {
  margin-bottom: 15px;
}

.contact-email-form label {
  padding-bottom: 8px;
}

.contact-email-form input, 
.contact-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact-email-form input:focus, 
.contact-email-form textarea:focus {
  border-color: #47b2e4;
}

.contact-email-form input {
  height: 40px;
}

.contact-email-form textarea {
  padding: 10px 12px;
}

.contact-email-form input[type="submit"] {
  background: #ed3c0d;
  border: 0;
  padding: 9px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact-email-form input[type="submit"]:hover {
  background: #242f51;
}


.footers {
  background-color: #951A1D;
  padding: 30px 0;
}


.footers .social-links {
  text-align: right;
}

.footers .social-links ul li {
  display: inline-block;
  padding: 0.5rem;
  line-height: 80px;
}

.footers .social-links ul li i {
  color: #f8f8f8;
  font-size: 2rem;
}

.copyrights {
  background-color: #333332;
  padding: 10px 0;
}

.copyrights p {
  color: #FFFFFF;
  font-size: 13px;
}

#myCarousel {
  margin-top: 80px;
}

#myCarousel .carousel-caption,
.inner-banner .carousel-caption {
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #myCarousel .carousel-caption,
  .inner-banner .carousel-caption {
    top: 30%;
  }
}

#myCarousel .carousel-caption h1 {
  font-size: 4.25rem;
  font-weight: bold;
}

#myCarousel .carousel-caption h1,
.inner-banner .carousel-caption h1 {
  color: #FFFFFF;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #myCarousel .carousel-caption h2{
    font-size: 2rem;
  }
}

#myCarousel .carousel-caption h3 {
  font-size: 2.5rem;
}


#myCarousel .carousel-caption p {
  color:  #FFFFFF;
  padding: 2rem 0;
  font-size: 1.625rem;
  font-weight: bold;
}

#myCarousel .carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

#myCarousel .carousel-indicators .active {
  background-color:  #ed3c0d;
}

#myCarousel .carousel-control-prev-icon {
    background-image: url('../img/left-arrow-ico.png');
    width: 4rem;
    height: 4rem;
}

#myCarousel .carousel-control-next-icon {
    background-image: url('../img/right-arrow-ico.png');
    width: 4rem;
    height: 4rem;
}

.inner-banner .carousel-caption {
  top: 50%;
}

.products-spcification h2::before{
  display: none;
}

/* Tables */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: auto;
  width: 100%; }

th {
  border-bottom: 1px solid #65746c;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #8b9a92;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }


.pro-description {
  padding: 0 0 1.875em 0; }
  .pro-description table {
    max-width: 45.9375em;
    margin: 0; }
    .pro-description table td:first-child {
      width: 8.75em; }

.product-table {
  overflow: auto;
  text-align: center;
  border: 1px solid #ccc; }
  .product-table table {
    width: 100%;
    min-width: 60em;
    margin: 0; }
    .product-table table thead {
      background-color: #9c0a0b; }
      .product-table table thead th {
        border: 1px solid #ffffff;
        text-transform: uppercase;
        font-size: 0.75em;
        color: #ffffff;
        padding: 0.4166666667em;
        text-align: center; }
        .product-table table thead th span {
          font-weight: normal; }
    .product-table table tbody .gray {
      background-color: #f9f9f9; }
      .product-table table tbody .gray td:first-child {
        background-color: #9c0a0b;
      }
      .product-table table tbody .gray td.sizes {
        color: #ffffff;
      }

      .product-table table tbody .gray td.types {
        background-color: #9c0a0b;
        color: #ffffff;
        font-weight: bold;
    
      }
      .product-table table tbody .gray td.braid {
        font-weight: bold;
      }
    .product-table table tbody .no-bg td:first-child {
      background-color: transparent; }
    .product-table table tbody td {
      font-size: 0.75em;
      border: 1px solid #8b9a92;
      padding: 0.4166666667em;
      text-align: center;
      white-space: nowrap;
     }
      .product-table table tbody td:first-child {
        background-color: #dadfd9; }

        .product-table table tfoot td {
          font-size: 0.75em;
          padding: 0.4166666667em;
        }   
  .product-table.three-row-table table {
    width: 100%;
    min-width: 10em; }

.pt-width {
  width: 10em; }

.corrugated-buckets li a {
  display: block;
  padding: 0.9375em;
  text-align: center;
  background-color: #e53d2f;
  color: #ffffff;
  margin: 0 auto;
  max-width: 21.25em; }
  .corrugated-buckets li a:hover {
    background-color: #ffffff;
    color: #e53d2f; }

.table-bottom-description {
  font-size: 0.75em;
  overflow: auto;
  border: 1px solid #ccc; }
  .table-bottom-description table {
    min-width: 66.6666666667em; }
    .table-bottom-description table td {
      border: none;
      vertical-align: top;
      padding: 0.4166666667em; }
  .table-bottom-description .tbd-widthtd {
    width: 7.5em; }
  @media (min-width: 60em) {
    .table-bottom-description {
      border: none; } }

.product-table.five-row-table table {
  min-width: 33.75em; }

.product-table.two-row-table table {
  min-width: 16.25em; }

.product-table.three-col table {
  min-width: 21.875em; }

.applications ul {
    padding-left: 2rem;
}
.applications ul li {
  list-style: disc;
}

.applications ul li:last-child {
  padding-bottom: 2rem;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.click-to-call {
  background-color: #C93333;
}

.click-to-call h2 {
  color: #ffffff;
}

.click-to-call h2:before {
  display: none;
}

.click-to-call .secondary-btn {
  background-color: #333332;
}

.click-to-call .secondary-btn:hover {
  color: #C93333;
  background-color: #ffffff;
}
